/**
 * Styles applied in the Visual Editor Area
 * */


.ui-btn{background: #be9836;-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;padding:10px!important;color:#FFFFFF!important;text-transform: uppercase;display: inline-block}
.ui-btn i{width:15px;height:15px;background-size: contain;display: inline-block}
.ui-iconpos-left i{margin-right:5px}
.ui-iconpos-right i{margin-left:5px}

.ic-download{background: url(../images/ic_download.png) top left no-repeat}
.ic-relatorio{background: url(../images/ic_relatorio.png) top left no-repeat}